<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title>Card within Card</title>  
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">  
</head>  
<body>  
    <div class="container mt-5">  
        <div class="card">  
            <div class="card-body">  
                <div class="row">  
                    <div class="col-sm-6">  
                        <div class="card">  
                            <div class="card-body">  
                                <h5 class="card-title">Add Courses</h5>  
                                <p class="card-text">Click the button below to add a new course to the system.</p>  
                                <a href="/course" class="btn btn-primary">Go to Courses</a>  
                            </div>  
                        </div>  
                    </div>  
                    <div class="col-sm-6">  
                        <div class="card">  
                            <div class="card-body">  
                                <h5 class="card-title">Add Students</h5>  
                                <p class="card-text">Click the button below to add a new student to the system.</p>  
                                <a href="/student" class="btn btn-primary">Go to Students</a>  
                            </div>  
                        </div>  
                    </div>  
                </div>  
            </div>  
        </div>  
    </div>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>  
</body>  
</html>  
