<!DOCTYPE html>  
<html lang="en">  
<head>  
  <meta charset="UTF-8">  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">  
  <title>Course Card</title>  
  <style>  
    .card {  
      width: 300px;  
      margin: 0 auto;  
      margin-top: 200px;  
    }  
  </style>  
</head>  
<body>  
  <div class="card">  
    <div class="card-body">  
      <h5 class="card-title">Enter Course Name</h5>  
      <form id = "newCourse" action="course" method="POST">  
        <div class="mb-3">  
          <input type="text" class="form-control" name="courseName" placeholder="Course Name" required>  
        </div>  
        <button type="submit" class="btn btn-primary">Submit </button>  
      </form>  
  
    </div>  
  </div>  
</body>  
</html>  
