<!DOCTYPE html>    
<html lang="en">    
<head>    
    <meta charset="UTF-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Teacher's Dashboard</title>    
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">    
</head>    
<body>    
    <div class="container mt-5">    
        <div class="card">    
            <div class="card-header">    
                Welcome! Please add a student to a course:
            </div>    
            <div class="card-body">
                <form id = 'assingingCourse' action = 'course-to-student' method="POST">  
                    <h5 class="card-title">Courses</h5>   
                    <select class="form-select" multiple name="courses" method = "GET">  
                        {% for course in courses %}  
                            <option>{{ course }}</option>   
                        {% endfor %}
                    </select>   
                    <h5 class="card-title">Students</h5>    
                    <select class="form-select" multiple name="students" method = "GET">  
                        {% for student in students %}  
                            <option>{{ student }}</option>  
                        {% endfor %} 
                    </select>      
                    <form id = "courseAssignment" action="/submit" method="POST">    
                        <input type="submit" class="btn btn-primary mt-3" value="Submit">    
                    </form> 
                </form>    
            </div>    
        </div>    
    </div>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>    
</body>    
</html>  
